<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 id="welcome">Eat-Da-Burger</h1>
		</div>

	</div>
	<div class="row">

		<img src="assets/img/DoubleDouble.png" id="burger-pic" alt="burger-image">

	</div>
	<div class="div"></div>
	<br>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<h2>Available Burgers</h2>
			<hr>
			<br>
			<ul>
				{{#each burgers}}
				<li>
					{{#unless devoured}} {{burger_name}}
					<button class="devour btn btn-sm btn-primary" data-id="{{id}}" data-devour="{{devoured}}">
						Devour
					</button>
					{{/unless}}
				</li>
				{{/each}}
			</ul>
		</div>

		<div class="col-lg-6">
			<h2>Devoured Burgers</h2>
			<hr>
			<br>
			<ul>
				{{#each burgers}}
				<li>
					{{#if devoured}} {{burger_name}} {{/if}}
				</li>
				{{/each}}
			</ul>

		</div>
	</div>

</div>